[Desktop Entry]
Version=1.0
Name=NestEGG 
Comment=NestEGG P2P Cryptocurrency
Comment[fr]=NestEGG, monnaie virtuelle cryptographique pair à pair
Comment[tr]=NestEGG, eşten eşe kriptografik sanal para birimi
Exec=sapphire-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/sapphire;
Categories=Office;Finance;
StartupWMClass=sapphire-qt
